<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Angularjs作用域</title>
  </head>
  <body>
   <!--绑定模块和控制器-->
   <div ng-app="myApp" ng-controller="MainController">
    <input ng-model="name">
    <h1>{{welcome}}</h1>  
    <button ng-click='say()'>登录</button> 
    <p>单击按钮调用作用域中定义的say()函数</p>
  </div> 
<script src="angular.js"></script>
<script>
    //定义模块
    var app=angular.module('myApp',[]);
    //定义控制器
    app.controller('MainController',function($scope){
      //定义name属性
      $scope.name="lucy";
      //定义函数say()
      $scope.say=function() {
          $scope.welconme='welcome:'+$scope.name+'!';
      }
    });
</script>
</body>
</html>